{% extends 'main/base.html' %}

{% block title %}View Users{% endblock %}
{% block content %}
    <!--Display the users from the database in a table -->
    <div class="table-responsive">
          <table class="table table-hover">
            <!--Create the headers for the table -->
              <thead>
                <tr>
                  <td class="number text-center"><strong>ID</strong></td>
                  <td class="product"><strong>Username</strong><br></td>
                  <td class="address"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                  <td class="address"><strong>Name</strong></td>
                    <td class="address"><strong>Email</strong></td>
                </tr>
              </thead>
            <!--Fill in the table -->
              <tbody>
                    {% for user in users %}
                    <tr>
                      <td class="number text-center">{{ user.id }}</td>
                      <td class="product"><strong> {{ user.username }} </strong><br></td>
                      <td class="address"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                      <td class="address">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="address">{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
          </table>
        </div>


{% endblock %}